07-xml/library.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element name="author" minOccurs="1" maxOccurs="1"/>
      <xs:element name="title" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:decimal"/>
  </xs:complexType>
  <xs:element name="library">
  <xs:complexType name="book">
    <xs:sequence>
      <xs:element name="book" type="book" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>
